.back-wrapper {
    width: fit-content;
    padding: 15px;
    color: white;
    display: flex;align-items: center;
    gap: 10px;
}
.back-wrapper p {
    font-weight: 800;
    cursor: pointer;
}
.back-wrapper img {
    cursor: pointer;
}
.back-wrapper p:hover {
    color: grey;
}
.back-wrapper img:hover {
    transform: translateX(-10px);
    transition-duration: 1000ms;
}
a {
    text-decoration: none;
}